---
layout: default
---
	<body>
		<h1>DangerNode.com</h1>
		<p>A cyber security blog.</a></p>
		<h2><a href=[test]({% post_url> 2019-03-03-firstblog %})</a></h2>
	</body>
	<footer class="footer">
		{% if site.footer-links.github %}<a
			href="http://github.com/{{ site.footer-links.github }}">{% include svg-icons/github.html %}</a>{% endif %}
		{% if site.footer-links.twitter %}<a
			href="http://twitter.com/{{ site.footer-links.twitter }}">{% include svg-icons/twitter.html %}</a>{% endif %}
	</footer>